.article{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.article_wrapper{
    max-width: 998px;
    padding-top: 85px;
}
.article_menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.article_menu__title{
    margin: 0;
}
.article_menu__down{
    display: flex;
    color: rgba(46, 47, 34, 0.7);
    margin-top: 6px;
}
.article_menu__down_tag{
    margin-right: 18px;
}
.article_post{
    display: flex;
    flex-direction: column;
}
.article_text{
    margin: 0 0 25px;
}
.article_illustration{
    margin: 15px 0 40px 0;
}
.article_down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.article_down__items{
    display: flex;
    list-style-type: none;
}
.article_down__counter_button{  
    background: none;
    outline: none;
    border: none;
    padding: 0;
}
.article_down__counter_like{
    font-size: 24px;
    line-height: 26px;
}
.article_down__items{
    padding-left: 0;
    margin: 0;
}
.article_down__icon{
    padding-right: 32px;
}
.article_down__icon:last-child{
    padding-right: 0;
}
.article__link_all{
    margin-top: 37px;
    color: #2E2F22;
    text-decoration: none;
}
.article_link_all__span{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-right: 26px;
}
.section_comments{
    max-width: 793px;
    padding-top: 65px;
}
.comments_item{
    background: #ECE1E1;
    border-radius: 10px;
    margin: 0;
    padding: 44px 80px 36px 100px;
}
.comments_item__list{
    list-style-type: none;
    margin-bottom: 55px;
}
.comments_item__list:last-child{
    margin-bottom: 0;
}
.comments_item__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;
}
.comments_item__img{
    border-radius: 10px;
    margin-right: 12px;
}
.comments_item__name{
    margin: 0;
}
.comments_items__text{
    margin: 0;
}
.comments_form{
    max-width: 793px;
    box-sizing: border-box;
    padding: 77px 0 81px 81px;
}
.comments_form__fieldset{
     border: none;
     padding: 0;
     margin: 0;
}
.comments_form__heading{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 70px;
}
.comments_form__input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.comments_items__input_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.comments_form_input_container{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 125px;
    margin: 0;
    padding-right: 13%;
    padding-bottom: 40px;
}
.comments_item__label{
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-family: inherit;
    padding: 0;
}
.name_form_field{
    font-size: 16px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #2E2F22;
    outline: none;
    margin-bottom: 30px;
}
.email_form_field{
    font-size: 16px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #2E2F22;
    outline: none;
}
.comments_form_input_field{
    display: flex;
    width: 57%;
    min-height: 208px;
    margin: 0;
}
.message_form_field{
    resize: none;
    width: 100%;
    max-height: 208px;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.comments_form__input_button{
    display: flex;
    margin-top: -45px;
    width: 31%;
}
.comments_form__button{
    width: 100%;
    min-height: 46px;
    border-radius: 10px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #202117;
}
@media screen and (max-width: 767px){
    .article_wrapper {
        padding-top: 40px;
    }
    .article_menu {
        margin-bottom: 20px;
    }
    .article_link_all__span {
        font-size: 30px;
    }
    .comments_item {
        padding: 10px; 
    }
    .comments_form {
        padding: 35px 10px 46px 10px;
    }
    .comments_items__input_section{
        flex-direction: column;
    }
    .comments_form_input_container {
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .comments_form_input_field {
        width: 100%;
        padding-bottom: 20px;
    }
    .comments_form__input_button {
        width: 50%;
        margin: 0 auto;
    }
}