/*Info style start*/

.info_container{
    max-width: 1200px;
    padding: 83px 20px 30px;
    margin: 0 auto;
}
.info_menu{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.info_menu__title{
    font-family: 'Spectral SC';
    margin: 0;
    font-size: 36px;
    line-height: 55px;
    cursor: pointer;
}
.info_menu__container{
    display: flex;
    position: relative;
}
.info_menu__container_button{

    box-sizing: border-box;
    width: 203px;
    height: 46px;
    background: #D7D1C9;
    border-radius: 10px;
    padding-left: 20px ;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.info_menu__container_button:hover, .info_menu__container_button:focus, .info_menu__container_button:active{
    background: #c0c0c0;
}  
.info_menu__container_icon{
    position: absolute;
    top: 15px;
    right: 19px;
}
.info_menu__container_text{
    font-size: 16px;
    line-height: 22px;
    font-family: Open Sans;
}
.info_menu__cards{ 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 62px;
}
.info_menu__card_link{
    text-decoration: none;
    color: #2E2F22;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.info_menu__card{
    display: flex;
    flex-direction: column;
}
.info_menu__card_sm{
    grid-column: span 2;
    transition: all 0.5s ease;
    position: relative;
}
.info_menu__card_lg{
    grid-column: span 3;
    min-height: 552px;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 61px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;
}
.info_menu__cards_pic{
    cursor: pointer;
    transition: all 0.5s ease;
}
.info_menu__card_sm:hover .info_menu__cards_pic-sm{
    transform: scale(1.05);
}
.info_menu__cards_pic-lg{
    position: absolute;
    left: 0;
    top: 0;
}
.info_menu__card_lg:hover .info_menu__cards_pic-lg{
    filter: blur(5px);
    transition: all 0.5s ease;
}
.info_menu__cards_title{
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 25px 0 8px;
    z-index: 1;
}
.info_menu__cards_desc{
    margin: 0;
    padding-bottom: 12px;
    z-index: 1;
}
.info_menu__cards_down{
    display: flex;
    justify-content: space-between;
    color: rgba(46, 47, 34, 0.7);
    z-index: 1;
}
.info_menu__container_down{
  position: relative;
  display: flex;
}
.info_menu__cards_title__down{
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
.info_menu__cards_desc__down{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.info_menu__card_down{
    max-width: 430px;
    color: rgba(255, 255, 255, 0.7);
}
.info_button{
    display: flex;
    justify-content: center;
    margin-top: 104px;
}
.info_button__down{
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.info_button__down:hover, .info_button__down:focus, .info_button__down:active{
    opacity: .75;
} 
/*Info style end*/

/*Annotation style start*/

.annotation{
    padding: 11px 20px 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.annotation_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}
.annotation_menu__title{
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}
.annotation_container{
    display: flex;
}
.annotation_title{
    margin-top: 42px;
    margin-left: 40px;
}
.annotation_title_top{
    max-width: 497px;
    max-height: 366px;
    margin-bottom: 98px;
}
.annotation_text{
   margin-bottom: 30px; 
   margin-top: 0;
}
.annotation_text:last-child{
    margin-bottom: 0;
}
.annotation_text__down{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    max-width: 550px;
    height: 160px;
    position: relative;
}
.annotation_text__down::before{
    content: '';
    display: block;
    width: 3px;
    height: calc(100% + 50px);
    background-color: #D7D1C9;
    position: absolute;
    left: -23px;
    top: -25px;
}
/*Annotation style end*/

/*Portfolio style start*/

.portfolio{
    padding: 99px 20px 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.portfolio_caption{
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}
.portfolio_caption_title{
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}
.portfolio_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.portfolio_item__container{
    position: relative;
    min-height: 525px;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio_container_title{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 140px 25px;
}
.portfolio_item__сontent_center{
    color: #ffffff;
}
.porfolio_item__caption{
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 44px;
    text-align: center;
}
.portfolio_item__title{
    font-family:  Spectral SC;
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.portfolio_item_desc{
    margin: 0;
}
/*Portfolio style end*/

/*Message style start*/

.message{
    padding: 55px 20px 85px;
    max-width: 996px;
    margin: 0 auto;
}
.message_caption{
    display: flex;
    justify-content: center;
    padding-bottom: 49px;
}
.message_caption__title{
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}
.message_item{
    max-width: 996px;
    margin: 0 auto;
    background: url(../img/form.png) no-repeat center;
    height: 637px;
}
.message_item__container{
    max-width: 837px;
    margin: 0 auto;
    padding-top: 53px;
}
.message_form__container{
    display: flex;
    padding-bottom: 20px;
}
.message_form__wrap{
    border: none;
    padding: 0;
}
.name_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding-right: 20px;
    width: 50%;
}
.name_form_field{
    box-sizing: border-box;
    height: 63px;
    padding: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    padding: 20px 20px;
    resize: none;
}
.name_form_field:hover{
    background: white;
    transition: all 0.5s ease;
}
.name_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.email_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 50%;
}
.email_form_field{
    box-sizing: border-box;
    height: 63px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    padding: 20px 20px;
    resize: none;
}
.email_form_field:hover{
    background: white;
    transition: all 0.5s ease;
}
.email_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.message-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    max-width: 837px;
}
.message_form_field{
    box-sizing: border-box;
    width: 100%;
    height: 293px;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    resize: none;
}
.message_form_field:hover{
    background: white;
    transition: all 0.5s ease;
}
.message_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.message_button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.send_form_field{
    max-width: 224px;
    height: 46px;
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
}

@media screen and (max-width: 1279px){
    .info_container{
        padding-top: 45px;
        padding-bottom: 30px;
    }
    .info_menu {
        margin-bottom: 40px;
    }
    .info_menu__cards__title_center{
        padding-bottom: 34px;
    }
    .info_menu__card_lg {
        min-height: 450px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 41px;
    }
    .info_button {
        margin-top: 60px;
    }
    .annotation_title {
        margin-top: 20px;
        margin-left: 20px;
    }
    .annotation_title_top {
        margin-bottom: 48px;
    }
    .annotation_text {
        margin-bottom: 15px;
    }
    .annotation_menu {
        margin-bottom: 40px;
    }
    .annotation_text__down::before {
        width: 2px;
        left: -9px;
    }
    .portfolio {
        padding-top: 20px;
    }
    .portfolio_container_title{
        padding: 70px 25px;
    }
    .portfolio_item__container {
        min-height: 421px;
    }
    .porfolio_item__caption_center{
        margin-bottom: 24px;
    }
    .message {
        padding-top: 20px;
        padding-bottom: 45px;
    }
}
@media screen and (max-width: 1023px){
    .info_container {
        padding: 25px 15px 20px 15px;
    }
    .info_menu__title {
        font-size: 25px;
        line-height: 30px;
    }
    .info_menu__title{
        padding-top: 7px;
    }
    .info_menu__container_button {
        width: 150px;
        height: 40px;
        padding-left: 10px;
        font-size: 85%;
    }
    .info_menu__container_icon{
        width: 12px;
        height: 12px;
        top: 15px;
    }
    .info_menu {
        margin-bottom: 30px;
    }
    .info_menu__cards {
        column-gap: 10px;
        row-gap: 32px;
    }
    .info_menu__cards_title {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 0 4px;
    }
    .info_menu__cards_desc {
        padding-bottom: 6px;
        font-size: 12px;
        line-height: 18px;
    }
    .info_menu__cards_down {
        font-size: 12px;
        line-height: 18px;
    }
    .info_menu__card_lg {
        min-height: 335px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 31px;
    }
    .info_button {
        margin-top: 30px;
    }
    .info_button__down {
        width: 165px;
        height: 40px;
        font-size: 85%;
    }
    .annotation {
        padding: 5px 15px 15px;    
    }   
    .annotation_menu {
        margin-bottom: 20px;
    }
    .annotation_menu__title {
        font-size: 25px;
        line-height: 30px;
    }
    .annotation_title {
        margin-top: 15px;
        margin-left: 15px;
    }
    .annotation_title_top {
        margin-bottom: 35px;
    }
    .annotation_text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .annotation_text__down {
        font-size: 18px;
        line-height: 25px;
        max-width: 350px;
        height: auto;
    }
    .annotation_text__down::before {
        height: calc(100% + 30px);
        top: -9px;
    }
    .portfolio {
        padding: 5px 15px 15px;    
    }
    .portfolio_caption_title {
        font-size: 25px;
        line-height: 30px;
    }
    .portfolio_caption {
        margin-bottom: 20px;
    }
    .portfolio_item {
        column-gap: 5px;
    }
    .portfolio_item__container {
        min-height: 325px;
    }
    .porfolio_item__caption {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .portfolio_container_title {
        padding: 75px 15px;
    }
    .portfolio_item__title {
        margin-bottom: 13px;
        font-size: 14px;
        line-height: 18px;
    }
    .portfolio_item_desc {
        font-size: 14px;
        line-height: 16px;
    }
    .message {
        padding: 10px 35px 25px;
    }
    .message_caption {
        padding-bottom: 20px;
    }
    .message_caption__title {
        font-size: 25px;
        line-height: 30px;
    }
    .message_item {
        height: auto;
    }
    .message_item__container {
        padding: 30px;
    }
}
@media screen and (max-width: 767px){
    .info_container {
        padding: 15px 15px 10px 15px;
    }
    .info_menu {
        margin-bottom: 10px;
    }
    .info_menu__container{
        align-items: center;
    }
    .info_menu__container_button {
        width: 100px;
        height: 25px;
        padding-left: 5px;
        font-size: 60%;
        border-radius: 5px;
    }
    .info_menu__container_icon {
        width: 9px;
        height: 7px;
        top: 9px;
        right: 7px;
    }
    .info_menu__cards {
        column-gap: 5px;
        row-gap: 10px;
    }
    .info_menu__card::after{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(21,24,36,.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .info_menu__card_sm {
        box-sizing: border-box;
        grid-column: span 6;
        position: relative;
        overflow: hidden;
        height: 200px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 31px;
        justify-content: flex-end;
        border-radius: 5px;
    }
    .info_menu__card_lg {
        grid-column: span 6;
        overflow: hidden;
        min-height: 200px;
        border-radius: 5px;
    }
    .info_menu__cards_pic-sm {
        position: absolute;
        left: 0;
        top: 0;
        height: 268px;
        object-fit: cover;
        width: 100%;
    }
    .info_menu__cards_pic-lg {
        height: 375px;
        object-fit: cover;
        width: 100%;
    }
    .info_menu__cards_title{
        color: #ffffff;
        z-index: 3;
    }
    .info_menu__cards_desc{
        color: #ffffff;
        z-index: 3;
    }
    .info_menu__cards_down{
        color: #ffffff;
        z-index: 3;
        max-width: 100%;
    }
    .info_menu__cards_title{
        font-size: 14px;
        line-height: 15px;
        padding: 15px 0 4px;
    }
    .annotation_container {
        display: block;
    }
    .annotation_pic{
        width: 100%;
    }
    .annotation_title{
        margin-left: 0;
    }
    .annotation_title_top{
        max-width: 100%;
    }
    .annotation_text__down{
        max-width: 100%;
    }
    .portfolio_item{
        row-gap: 10px;
    }
    .portfolio_item__container{
        grid-column: span 3;
        min-height: 200px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 31px;
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portfolio_pic{
        position: absolute;
        left: 0;
        top: 0;
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .portfolio_container_title {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        top: 0
    }
    .portfolio_container_title {
        padding: 25px;
    }
    .portfolio_item__title{
        margin-bottom: 7px;
    }
    .porfolio_item__caption {
        margin-bottom: 7px;
    }
    .message_form__container {
        flex-direction: column;
    }
    .message{
        padding: 5px 15px 15px;
    }
    .message_item__container {
        padding: 10px;
    }
    .message_form__container {
        padding-bottom: 10px;
    }
    .name_form {
        padding: 0 0 10px;
        width: 100%;
    }
    .email_form {
        padding: 0;
        width: 100%;
    }
}