/*Info style start*/

.info_container{
    max-width: 1200px;
    padding: 83px 120px 30px;
    margin: 0 auto;
}
.info_menu{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 60px;
}
.info_menu__title{
    margin: 0;
    font-size: 36px;
    line-height: 55px;
    cursor: pointer;
}
.info_menu__container_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 203px;
    height: 46px;
    background: #D7D1C9;
    border-radius: 10px;
    padding-left: 20px ;
    border: none;
    outline: none;
    cursor: pointer;
}
.info_menu__container_button:hover, .info_menu__container_button:focus, .info_menu__container_button:active{
    background: #c0c0c0;
}  
.info_menu__container_icon{
    padding-left: 33px;
    padding-right: 13px;
}
.info_menu__container_text{
    font-size: 16px;
    line-height: 22px;
    font-family: Open Sans;
}
.info_menu__cards{ 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 62px;
}
.info_menu__card_sm{
    grid-column: span 2;
}
.info_menu__card_lg{
    grid-column: span 3;
    height: 552px;
}
.info_menu__cards_pic{
    max-width: 100%;
    height: auto;
}
.info_menu__cards_title{
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 25px 0 8px;
}
.info_menu__cards_desc{
    margin: 0;
    padding-bottom: 12px;
}
.info_menu__cards_down{
    display: flex;
    justify-content: space-between;
    color: rgba(46, 47, 34, 0.7);
}
.info_menu__container_down{
    display: flex;
    position: absolute;
}
.info_menu__text_down{
    width: 430px;
    position: absolute;
    top: 359px;
    left: 82px;
}
.info_menu__cards_title__down{
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
.info_menu__cards_desc__down{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.info_menu__card_down{
    width: 430px;
    color: #ffffff;
}
.info_button{
    display: flex;
    justify-content: center;
    margin-top: 104px;
}
.info_button__down{
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}
/*Info style end*/

/*Annotation style start*/

.annotation{
    padding: 11px 120px 30px;
    width: 1200px;
    margin: 0 auto;
}
.annotation_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}
.annotation_menu__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}
.annotation_container{
    display: flex;
}
.annotation_title{
    margin-top: 42px;
    margin-left: 40px;
}
.annotation_title_top{
    width: 497px;
    height: 366px;
    margin-bottom: 98px;
}
.annotation_text{
   margin-bottom: 30px; 
   margin-top: 0;
}
.annotation_text:last-child{
    margin-bottom: 0;
}
.annotation_text__down{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    width: 550px;
    height: 160px;
}
.annotation_container__down::before{
    position: absolute;
    content: "";
    width: 215px;
    border-top: 3px solid #D7D1C9;
    transform: rotate(-90deg);
    margin-top: 77px;
    margin-left: -128px;
}
/*Annotation style end*/

/*Portfolio style start*/

.portfolio{
    padding: 99px 120px 30px;
    width: 1200px;
    margin: 0 auto;
}
.portfolio_caption{
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}
.portfolio_caption_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}
.portfolio_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    box-sizing: border-box;
}
.portfolio_item__container{
    position: relative;
    height: 525px;
}
.portfolio_container__pic{
    display: flex;
    position: absolute;
}
.portfolio_container_title{
    position: absolute;
    top: 140px;
    text-align: center;
}
.portfolio_item__сontent_right{
    left: 52px;
    width: 284px;
}
.portfolio_item__сontent_center{
    left: 31px;
    width: 336px;
    color: #ffffff;
}
.portfolio_item__content_left{
    width: 351px;
    left: 18px;
}
.porfolio_item__caption{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 44px;
    text-align: center;
}
.portfolio_item__title{
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.portfolio_item_desc{
    margin: 0;
}
/*Portfolio style end*/

/*Message style start*/

.message{
    padding: 55px 222px 85px;
    width: 996px;
    margin: 0 auto;
}
.message_caption{
    display: flex;
    justify-content: center;
    padding-bottom: 49px;
}
.message_caption__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
}
.message_item{
    width: 996px;
    margin: 0 auto;
    background: url(/img/form.png) no-repeat center;
    height: 637px;
}
.message_item__container{
    width: 837px;
    margin: 0 auto;
    padding-top: 53px;
}
.message_form__container{
    display: flex;
    padding-bottom: 20px;
}
.message_form__wrap{
    border: none;
    padding: 0;
}
.name_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding-right: 20px;
}
.name_form_field{
    box-sizing: border-box;
    width: 407px;
    height: 63px;
    padding: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    padding: 20px 20px;
    resize: none;
}
.name_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.email_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.email_form_field{
    box-sizing: border-box;
    width: 407px;
    height: 63px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    padding: 20px 20px;
    resize: none;
}
.email_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.message-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
.message_form_field{
    box-sizing: border-box;
    max-width: 837px;
    height: 293px;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    outline: none;
    resize: none;
}
.message_form_field::placeholder{
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7; 
}
.message_button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.send_form_field{
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
}

/*Message style end*/
@media screen and (max-width: 1279px){
    .info_container {
        padding: 50px 60px 30px;
    }
    .info_menu__title {
        font-size: 30px;
        line-height: 42px;
    }
    .annotation_menu__title {
        font-size: 30px;
        line-height: 42px;
    }
    .portfolio_caption_title {
        font-size: 30px;
        line-height: 42px;
    }
}