html {
    font-family: 'GSpectral SC', 'Open Sans';
    color: #2E2F22;
    font-size: 16px;
    line-height: 26px;
}
label{
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}