/*Footer style start*/
.footer{
    background: #D7D1C9;
}
.footer_item{
    box-sizing: border-box;
    width: 538px;
    margin: 0 auto;
    padding: 0 405px;
    width: 1440px;
    
    height: 181px;
    margin: 0 auto;
}
.footer_item__container{
    padding-top: 65px;
}
.footer_item__nav_list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
}
.footer_item_list__item{
    list-style-type: none;
    padding-right: 120px;
}
.footer_item_list__item:last-child{
    padding-right: 0;
}
/*Footer style end*/