@font-face {
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/spectral-sc-v5-cyrillic-700.eot');
    src: local('Spectral SC Bold'), local('SpectralSC-Bold'),
         url('../fonts/spectral-sc-v5-cyrillic-700.eot?#iefix') format('embedded-opentype')
         url('../fonts/spectral-sc-v5-cyrillic-700.woff2') format('woff2'),
         url('../fonts/spectral-sc-v5-cyrillic-700.woff') format('woff'),
         url('../fonts/spectral-sc-v5-cyrillic-700.ttf') format('truetype'), 
         url('../fonts/spectral-sc-v5-cyrillic-700.svg#SpectralSC') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-italic.eot'); 
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v18-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-v18-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin_cyrillic-italic.woff') format('woff'),
         url('../fonts/open-sans-v18-latin_cyrillic-italic.ttf') format('truetype'),
         url('../fonts/open-sans-v18-latin_cyrillic-italic.svg#OpenSans') format('svg');
  }