/*Header style start*/
.header{
    position: fixed;
    width: 100%;
    z-index: 6;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    left: 0;
    right: 0;
}
.header_active{
    background-color: #ededed;
    opacity: .9;
}
.header_wrapper_logo{
    padding-top: 4px;
}
.header_logo{
    width: 130px;
    height: 82px;
} 
.header_wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.header_wrapper__item_link{
    text-decoration: none;
    color: inherit;
}
.mobile_menu{
    display: none;
}
.header_nav__toggle{
    display: none;
    width: 40px;
    height: 30px;
    margin-top: 20px;
    padding: 0;  
    border: none;
    background-color: transparent;
    outline: none;
}
.button-active{
    position: fixed;
    z-index: 7;
}
.header_nav__toggle span{
    z-index: 5;
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 2.5px;
    transform-origin: 4px 0;
    transition: transform .5s cubic-bezier(.77,.2,.05,1), opacity .45s ease;
}
.header_nav__toggle span:last-child{
    transform-origin: 0 100%;
}
.button-active .header_nav__toggle_top{
    opacity: 1;
    transform: translate(0,3px) rotate(45deg) translate(3px,-1px);
}
.button-active .header_nav__toggle_mid{
    opacity: 0;
    transform: translate(0,3px) scale(.2,.2);
    transform-origin: center;
}
.button-active .header_nav__toggle_bot{
    opacity: 1;
    transform: translate(0,3px) rotate(-45deg) translate(3px,2px);
}
.header_toggle__menu{
    display: none;
    position: fixed;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ededed;
    width: 35%;
    height: 100%;
    padding-top: 60px;
    z-index: 4;
}
.header_toggle__menu_item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header_toggle__menu_item__link{
    text-decoration: none;
    color: inherit;
}
.header_wrapper__list{
    display: flex;
    margin: 0;
    padding-top: 33px;
    padding-left: 0;
}
.header_wrapper__item{
    padding-right: 83px;
    font-size: 18px;
    line-height: 25px;
    list-style-type: none;
    cursor: pointer;
}
.header_wrapper__item:last-child{
    padding-right: 0;
}
.header_wrapper__item:hover, .header_wrapper__item:focus, .header_wrapper__item:active{
    color: #999084;
}
.mobile_overlay{
    position: fixed;
}
.overlay{
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: .5;
    transition: transform .5s cubic-bezier(.77,.2,.05,1), opacity .45s ease;
}
/*Header style end*/

@media screen and (max-width: 1279px){
    .header_nav__toggle{
        display: none;
    }
    .header_wrapper__item{
        padding-right: 60px;
    }
    .header_toggle__menu{
        display: none;
    }
}
@media screen and (max-width: 1023px){
    .header_wrapper__list{
        display: none;
    }
    .mobile_menu{
        display: block;
    }
    .header_nav__toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        right: 15px;
        z-index: 7;
    }
    .header_toggle__menu{
        display: block;
        transform: translateX(100%);
        transition: transform .5s cubic-bezier(.77,.2,.05,1), opacity .45s ease;
    }
    .menu-active{
        transform: translateX(0);
        box-shadow: 0 0 16px 0 rgb(0 0 0 / 20%);
    }
}
@media screen and (max-width: 767px){
    .wrapper{
        padding: 0 10px;
        object-fit: cover;
    }
    .header_logo {
        width: 80px;
        height: 50px;
    }
    .header_nav__toggle{
        margin-top: 10px;
    }
    .header_toggle__menu{
        width: 60%;
    }
}


